{% extends 'login/base (1).html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <form  class="form-inline" action="{% url 'products' %}" method="GET">
        {% csrf_token %}
        <select class="form-control" id="exampleFormControlSelect1" name="sort">
            <option value="price" {% if type == 'price' %}selected{% endif %}>sort by price</option>
            <option value="date" {% if type == 'date' %}selected{% endif %}>sort by date</option>
        </select>
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Select">
    </form>
</nav>

<nav class="navbar navbar-light bg-light">
    <form action="{% url 'products' %}" method="GET" class="form-inline">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" name="search">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
    </form>
</nav>

          
            <div class="row">
            <div class="column">
              <div class="card">
              
              <ul class="list-group d-flex justify-content-between align-items-center"" >
                {% for product in products  %}
                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <ul class="list-group d-flex justify-content-between align-items-center">
                        {% if product.productpicture_set.all %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <img style="width:250px ; height: 200px;" src="{{product.productpicture_set.first.picture.url}}">
                        </li>
                        <!--<p>{{ product.productpicture_set.first.picture.url }}</p>-->
                        {% else %}
                        <img style="width: 250px; height: 200px;" src="{% static 'login/images/default.png' %}">
                        {% endif %}
                <h4>{{product.name}}</h4>
                <p class="price">${{product.price}}</p>
                <p>User: {{product.user}}<br> Posted On: {{product.post_date}}</p>
                
                <button><a href="{% url 'product_detail' product.id %}">View More Details</a></button>
                <button><a href="{{ product.add_to_cart_url }}">Add to Cart </a></button>
                <button><a href="{{ product.delete_product_url }}">Delete</a></button>

            
            </ul>
          </li>
        </ul>
      </div>
      </div>
      </div> 
      
{% endfor %}
<!--
<div class="pagination">
  <a href="#">1</a>
  <a href="#">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
</div>

<script>
function productsPerPage( $columns)
{
  $columns = 5;
  return $columns;
}
</script>

-->
<!--<a class='btn btn-danger' href="{% url 'payment'  %}">payment</a>
-->
{% endblock %}