{% extends 'login/base (1).html' %}

{% block content %}
<form action="{% url 'post_product' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col">
            <label>Product name:</label>
            <input class="form-control" name="name" type="text">
        </div>
        <div class="col">
            <label>Product price:</label>
            <input class="form-control" name="price" type="text">
        </div>
        <div class="col">
            <label>Product category:</label>
            <select name="category">
                <option value="C">Computer</option>
                <option value="A">Appliance</option>
                <option value="T">Toy</option>
            </select>
        </div>
        <div class="col">
            <label>Product picture:</label>
            <input name="product-pic" type="file" multiple>
        </div>
        <div class="col-auto">
            <input class="btn btn-outline-success my-2 my-sm-0" name="post" type="submit" value="Post Product">
        </div>
        
    </div>

</form>
{% endblock %}